body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  margin: auto;
  width: 80%;
  padding: 10px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: #fffffe;
}

p, label {
  color: #fffffe;
}

.survey-form-bg {
  background: rgba(0, 0, 0, 0.5);
  margin: auto;
  width: 80%;
  border: 1px solid black;
  padding: 10px;
}
